
#main-skip-block {
	position: absolute;
	top: -99999px;
	left: -99999px;
}

#main-skip-block.activated {
	position: static;
	display: block;
	background-color: #fff;
	padding: 30px;
	font-size: 16px;
	text-align: center;
}
#main-skip-block.activated a {
	display: inline-block;
	padding: 0 4px;
}

#sabotScrollMessage {
    display: none;
    z-index: 999; 
    opacity: .8;
    position: absolute;
    bottom: 10px;
	right: 10px;
    width: 150px;
    line-height: 32px;
    height: 52px;
    padding: 10px;
    background-color: #000;
    font-size: 1em;
    text-align: center;
}

#sabotScrollMessage a {
	color: #fff;
	text-decoration: none;
}


@media all and (max-width: 600px) {
	#sabotScrollMessage {
		display: none;
		z-index: 999; 
		opacity: .8;
		position: absolute;
		bottom: 2px;
		right: 2px;
		width: 60px;
		line-height: 14px;
		height: 16px;
		padding: 4px;
		background-color: #000;
		font-size: 10px;
		text-align: center;
	}
}